.header {
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 5px;
}

.btn {
    background-color: salmon;
    border: none;
    padding: 3px 9px;
    border-radius: 5px;

}

.logo {
    text-decoration: underline;
}